.ul__li_person{
    background-color: blueviolet;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    list-style-type: none;
    margin-top: 10px;
}
.ul__li_person h3 {
    text-align: center;
    padding-top: 17px;
}
.ul__turn{
    margin-top: 100px;
    margin-left: 45%;
}
.div-for-atm{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.atm{
    background-color: brown;
    width: 90px;
    height: 70px;
    padding-left: 30px;
}
.buttons {
    text-align: center;
    margin-bottom: 20px;
}
.button {
    background: none;
    border: 1px solid blueviolet;
    color: blueviolet;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.button:hover {
    background: blueviolet;
    color: #ffffff;
}
